
<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <% @products.includes(:user).each do |product| %>
          <div class="col-3 mt-5">
            <p>Title: <%= product.title %></p>
            <p>Manager: <%= product.user&.name %></p>

            <%= link_to 'Delete', product_path(product), class: 'btn btn-outline-danger', data: { "turbo-method": :delete } %>
            <%= link_to 'Add to Cart', product_order_items_path(product), data: { "turbo-method": :post }, class: 'btn btn-outline-success' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-2 mt-5 text-end">
      <%= link_to order_path(current_order) do %>
        <i class="fa-solid fa-cart-arrow-down fa-2x"></i>
      <% end %>
    </div>
  </div>
</div>
